################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/V4Migration/FileContentIndex
/.vs/V4Migration/v17/.futdcache.v2
